# Home task: pandas 

## Question 1

- Load the energy data from the file [Energy Indicators.xls](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls).
It is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013.


- It should be put into a DataFrame with the variable name of "energy"


- Make sure to exclude the footer and header information from the datafile.


- The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:<br>
`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`


- Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule).


- For all countries which have missing data (e.g. data with `...`) make sure this is reflected as `np.NaN` values.


- Rename the following list of countries (for use in later questions):
    - `Republic of Korea`: `South Korea`,
    - `United States of America`: `United States`,
    - `United Kingdom of Great Britain and Northern Ireland`: `United Kingdom`,
    - `China, Hong Kong Special Administrative Region`: `Hong Kong`


- There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g.:
    - `Bolivia (Plurinational State of)` should be `Bolivia`,
    - `Switzerland17` should be `Switzerland`.


- Next, load the GDP data from the file ["world_bank.csv"](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). 
It is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame "GDP"


- Make sure to skip the header, and rename the following list of countries:
    - `Korea, Rep.`: `South Korea`,
    - `Iran, Islamic Rep.`: `Iran`,
    - `Hong Kong SAR, China`: `Hong Kong`


- Finally, load the "Sciamgo Journal and Country Rank data for [Energy Engineering and Power Technology"](http://www.scimagojr.com/countryrank.php?category=2102). It ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame "ScimEn"


- Join the three datasets: Energy, GDP, and ScimEn into a new dataset (using the intersection of country names). Use only the 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).


- The index of this DataFrame should be the name of the country, and the columns should be<br>
`['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', 2012', '2013', '2014', '2015']`

Function "answer_one" should return the resulted DataFrame (20 columns and 15 entries)

## Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [84]:
import pandas as pd 
import numpy as np
def answer_one():

   
    energy = pd.read_excel('/content/drive/MyDrive/Father/camp2021/hometask3_2/Energy Indicators.xls', skiprows=17,skipfooter= 38)
    energy = energy[['Unnamed: 1','Petajoules','Gigajoules','%']]

    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'] 
    energy.replace('...', np.nan,inplace = True)

    di_energy = {"Republic of Korea": "South Korea",
    "United States of America": "United States",
    "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
    "China, Hong Kong Special Administrative Region": "Hong Kong"}
    energy.replace({"Country": di_energy},inplace = True)

    energy['Country'] = energy['Country'].str.replace(" \(.*\)","")
    energy['Energy Supply'] = energy['Energy Supply']*1000000

# -----------------------------------------------------------------------------------------------#
    GDP = pd.read_csv('/content/drive/MyDrive/Father/camp2021/hometask3_2/world_bank.csv',skiprows=4)
    GDP['Country Name'] = GDP['Country Name'].replace({"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China" : "Hong Kong"}) # Similarly, replace the corresponding country name
    GDP = GDP[['Country Name', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'] ] # The title says that as long as 10 years, take out these years

    
    di_GDP = {"Korea, Rep.": "South Korea", 
    "Iran, Islamic Rep.": "Iran",
    "Hong Kong SAR, China": "Hong Kong"}
    energy.replace({"Country": di_GDP},inplace = True)
# -----------------------------------------------------------------------------------------------#
    ScimEn = pd.read_excel('/content/drive/MyDrive/Father/camp2021/hometask3_2/sc.xlsx')[:15]
    ScimEn = ScimEn[0:15]
     
    df = pd.merge(ScimEn, energy, how = 'inner', left_on = 'Country', right_on='Country')
    result = pd.merge(df,GDP, how = 'inner', left_on = 'Country', right_on='Country Name').set_index('Country') # merge data, inner method takes intersection, and finally only 15 countries
    
    result= result[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    
    
    return result
answer_one()

                    Rank  Documents  ...          2014          2015
Country                              ...
China                  1     273437  ...  1.047568e+13  1.106155e+13
United States          2     175891  ...  1.752716e+13  1.822470e+13
India                  3      55082  ...  2.039127e+12  2.103588e+12
Japan                  4      50523  ...  4.850414e+12  4.389476e+12
United Kingdom         5      43389  ...  3.063803e+12  2.928591e+12
Germany                6      38739  ...  3.883920e+12  3.356236e+12
Russian Federation     7      36735  ...  2.059242e+12  1.363481e+12
Canada                 8      33472  ...  1.803533e+12  1.556130e+12
Italy                  9      27983  ...  2.159134e+12  1.835899e+12
South Korea           10      27655  ...  1.484318e+12  1.465773e+12
France                11      25232  ...  2.852166e+12  2.438208e+12
Iran                  12      22933  ...  4.326870e+11  3.849515e+11
Spain                 13      21955  ...  1.369399e+12  1.195119e+12
Brazil                14      21524  ...  2.455994e+12  1.802214e+12
Australia             15      20614  ...  1.467484e+12  1.351694e+12

[15 rows x 20 columns]

### Question 2
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [75]:
def answer_two():
    Top15 = answer_one()
    for_mean= Top15[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    avgGDP=for_mean.mean(axis=1).sort_values(ascending=False)
    return pd.Series(avgGDP)
answer_two()

Country
United States         1.566966e+13
China                 6.927702e+12
Japan                 5.177131e+12
Germany               3.518225e+12
United Kingdom        2.776607e+12
France                2.687371e+12
Italy                 2.139775e+12
Brazil                1.988885e+12
Russian Federation    1.666746e+12
Canada                1.613835e+12
India                 1.602352e+12
Spain                 1.398587e+12
South Korea           1.221372e+12
Australia             1.206526e+12
Iran                  4.389286e+11
dtype: float64

### Question 3
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [76]:
def answer_three():
    Top15 = answer_one()
    AVG = answer_two()
    AVG=AVG.sort_values(ascending=False)
    largest=AVG.index[5]
    result=Top15['2015'][5]-Top15['2006'][5]
    return result
answer_three()

364038991034.8198

### Question 4

Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [82]:
def answer_four():
    Top15 = answer_one()
    Total=Top15['Self-citations']/Top15['Citations']
    
    return Total.index[0],Total[0]
answer_four()

('China', 0.6912289816173135)

### Question 5

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [67]:
def answer_five():
  Top15 = answer_one()
  Top15['population']=Top15['Energy Supply']/Top15['Energy Supply per Capita']
  result=Top15.sort_values(by='population',ascending=False).iloc[0].name
  return result
answer_five()

'China'

### Question 6
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

In [68]:
def answer_six():
  Top15 = answer_one()
  Top15['population']=Top15['Energy Supply']/Top15['Energy Supply per Capita']
  Top15['Citable docs per Capita']=Top15['Citable documents']/Top15['population']
  return Top15["Citable docs per Capita"].corr(Top15['Energy Supply per Capita'])
answer_six()

0.7434709127726777

### Question 7
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [83]:
def answer_seven():
  Top15 = answer_one()
  Top15['population']=Top15['Energy Supply']/Top15['Energy Supply per Capita']

  ContinentDict =({'China':'Asia', 
                    'United States':'North America', 
                    'Japan':'Asia', 
                    'United Kingdom':'Europe', 
                    'Russian Federation':'Europe', 
                    'Canada':'North America', 
                    'Germany':'Europe', 
                    'India':'Asia',
                    'France':'Europe', 
                    'South Korea':'Asia', 
                    'Italy':'Europe', 
                    'Spain':'Europe', 
                    'Iran':'Asia',
                    'Australia':'Australia', 
                    'Brazil':'South America'})
  group=Top15['population'].groupby(ContinentDict)
  results = pd.DataFrame(columns = ['size', 'sum', 'mean', 'std'])
  results['size']=group.size()
  results['sum']=group.sum()
  results['mean']=group.mean()
  results['std']=group.std()

 
  return results
answer_seven()

               size           sum          mean           std
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN