In [28]:
import pandas as pd
train = pd.read_csv("train.csv",index_col ='PassengerId')
test = pd.read_csv("test.csv",index_col ='PassengerId')

In [29]:
train['Age'] = train['Age'].fillna(value=train['Age'].median())
test['Age'] = test['Age'].fillna(value=train['Age'].median())

In [30]:
def clean_data(df):
    df.drop(columns=['Ticket', 'Cabin', 'Name'], inplace=True)
    df['Fare'] = df['Fare'].fillna(value=train['Fare'].median())

    df['Age'] = df['Age'].astype(int)
    #pandas_cut for ages

    df['Embarked'].fillna(value=df['Embarked'].mode()[0], inplace=True)
    df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})
    df['Embarked'] = df['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})
    
    return df
clean_data(train)
clean_data(test)

             Pclass  Sex  Age  SibSp  Parch      Fare  Embarked
PassengerId
892               3    0   34      0      0    7.8292         2
893               3    1   47      1      0    7.0000         0
894               2    0   62      0      0    9.6875         2
895               3    0   27      0      0    8.6625         0
896               3    1   22      1      1   12.2875         0
...             ...  ...  ...    ...    ...       ...       ...
1305              3    0   28      0      0    8.0500         0
1306              1    1   39      0      0  108.9000         1
1307              3    0   38      0      0    7.2500         0
1308              3    0   28      0      0    8.0500         0
1309              3    0   28      1      1   22.3583         1

[418 rows x 7 columns]

In [31]:
train['Age'] = pd.cut(train['Age'], bins=8,labels=False)
test['Age1'] = pd.cut(train['Age'], bins=8)

test

In [32]:
def preprocessing_train (df, is_train= True):
    categorizing_info = {}
    #     categorize Age
    col= 'Age'
    n_bins= 6
    df['cat']  = categorize_col(df, n_bins)
    categorizing_info[col] = (bins, n_bins)
    return df, categorizing_info

In [33]:
preprocessing_train (train)

ValueError: Wrong number of items passed 8, placement implies 1

In [34]:
X=train[['Pclass','Sex', 'Age', 'SibSp', 'Parch', 'Fare','Embarked']]
y=train['Survived']

In [33]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [34]:
rf_model = RandomForestClassifier().fit(X_train,y_train)

In [35]:
y_pred = rf_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:%.2f%%" % (accuracy * 100.0))

Accuracy:79.89%

In [36]:

X_all= pd.concat([X_train, X_test])
y_all = pd.concat([y_train, y_test])

In [37]:
X_all

             Pclass  Sex  Age  SibSp  Parch      Fare  Embarked
PassengerId
141               3    1    1      0      2   15.2458         1
440               2    0    1      0      0   10.5000         0
818               2    0    1      1      1   37.0042         1
379               3    0    0      0      0    4.0125         1
492               3    0    1      0      0    7.2500         0
...             ...  ...  ...    ...    ...       ...       ...
781               3    1    0      0      0    7.2292         1
838               3    0    1      0      0    8.0500         0
216               1    1    1      1      0  113.2750         1
834               3    0    1      0      0    7.8542         0
373               3    0    0      0      0    8.0500         0

[891 rows x 7 columns]

In [38]:
X_test

             Pclass  Sex  Age  SibSp  Parch      Fare  Embarked
PassengerId
496               3    0    1      0      0   14.4583         1
649               3    0    1      0      0    7.5500         0
279               3    0    0      4      1   29.1250         2
32                1    1    1      1      0  146.5208         1
256               3    1    1      0      2   15.2458         1
...             ...  ...  ...    ...    ...       ...       ...
781               3    1    0      0      0    7.2292         1
838               3    0    1      0      0    8.0500         0
216               1    1    1      1      0  113.2750         1
834               3    0    1      0      0    7.8542         0
373               3    0    0      0      0    8.0500         0

[179 rows x 7 columns]

In [58]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV


'''GridSearchCV знаходить найкращі параметри, шляхом звичайного перебору: він створює модель для кожної можливої
комбінації параметрів. Важливо відзначити, що такий підхід може бути досить времязатратним.'''

parametrs = { 'n_estimators': range (10, 51, 10),
              'max_depth': range (1,13, 2),
              'min_samples_leaf': range (1,8),
              'min_samples_split': range (2,10,2) }

clf = RandomForestClassifier()


X_all= pd.concat([X_train, X_test])
y_all = pd.concat([y_train, y_test])
X_test_scaled  = scaler.fit_transform(X_all)

grid = GridSearchCV(clf, parametrs, cv=5)
grid.fit(X_train, y_train)

model_tune = RandomForestClassifier(**grid.best_params_).fit(X_test_scaled, y_all)
y_pred = model_tune.predict(test)

# accuracy = accuracy_score(y_test, y_pred)
# print("Accuracy:%.2f%%" % (accuracy * 100.0))

In [59]:
y_pred

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0],
      dtype=int64)

In [60]:
d = {'PassengerId': test.index, 'Survived': y_pred}
df = pd.DataFrame(data=d)
df.set_index('PassengerId')

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 0
...               ...
1305                0
1306                1
1307                0
1308                0
1309                0

[418 rows x 1 columns]

In [61]:
df.to_csv('last1.csv', index=False)

In [62]:
test.index

Int64Index([ 892,  893,  894,  895,  896,  897,  898,  899,  900,  901,
            ...
            1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309],
           dtype='int64', name='PassengerId', length=418)